@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
.loader1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loader {
  width: 65px;
  margin: auto;
}
.loader__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loader__coin {
  animation: flip 0.5s ease-in-out infinite alternate-reverse both;
}

.loader__title {
  color: #000000;
  margin-top: 20px;
  text-align: center;
}
